p {
	color: purple;
	text-align: center;
}
p .double {border-style: double;}
p {
	border: 3px double purple
}
p {
	margin: 25px 50px 75px 100px;
}

<style>
div {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}
</style>


